* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: arial, sans-serif;
    font-size: 20px;
}

body {
    background-color: fefefe;
    height: 400vh;
}

.myToDo {
    text-align: center;
    font-size: 1.8rem;
    color: #ff5454;
    padding: 1rem;
}

.main_toDoList {
    display: grid;
    width: 25rem;
    grid-auto-rows: 2rem;
    grid-row-gap: 1rem;
    margin: auto;
    padding: 1rem;
}